{{>/layout/header}}

<!-- 회원가입 폼 시작 -->
<div class="container mt-3">
    <form action="/join" method="post">
        <div class="mb-3 mt-3">
            <label for="email">Username:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter username" name="username">
        </div>
        <div class="mb-3">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
        </div>
        <div class="mb-3">
            <label for="pwd">Password Check:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password check">
        </div>
        <div class="mb-3">
            <label for="pwd">Email:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter email" name="email">
        </div>
        <button type="submit" class="btn btn-success">회원가입</button>
    </form>
</div>
<!-- 회원가입 폼 끝 -->

{{>/layout/footer}}