{{>/layout/header}}

<!-- 회원정보 수정 폼 시작 -->
<div class="container mt-3">
    <form>
        <div class="mb-3 mt-3">
            <label>Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
        </div>
        <div class="mb-3">
            <label>Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        </div>
        <div class="mb-3">
            <label>Password Check:</label>
            <input type="password" class="form-control" id="password-check" placeholder="Enter password check">
        </div>
        <div class="mb-3">
            <label>Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <button type="submit" class="btn btn-success">수정하기</button>
    </form>
</div>
<!-- 회원정보 수정 폼 끝 -->

{{>/layout/footer}}